<div class="container">
  <center>
    <form action="/home/directiontest" method="post">
      <input type="text" name="origin" placeholder="출발지"><br>
      <input type="text" name="destination" placeholder="도착지"><br>
      <input type="submit" value="submit">
    </form>
  </center>
</div>