<div class="container">
  <div class="row">
    <div class="col-md-3">
      현재시간 기준
    </div>
    <div class="col-md-9">
      <iframe
        width=100%
        height="400"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDxbMZWBxFjGnTiZOMAeSIm6TFR4BvhFUM
          &origin=<%= @origin %>
          &destination=<%= @destination %>
          &mode=transit" allowfullscreen>
      </iframe>
    </div>
  </div>
</div>