<script>
  $(function() {
    $( "#accordion" ).accordion();
  });
  $(document).ready(function() {
    $('li').mouseenter(function(){
     $(this).animate({
    backgroundColor: "#faf0e6"
  });
  });
  $('li').mouseleave(function(){
     $(this).animate({
    backgroundColor: "#ffffff"
  });
});
});
  
  </script>
<div class="row" style="margin-top: 80px">
  <div class="col-lg-2"></div>
  <div class="col-lg-2">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h4>1위</h4>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h4>2위</h4>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h4>3위</h4>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-2">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h4>4위</h4>
        <p>...</p>
        <p><a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>  

<div class="row"> 
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">지역 <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" aria-label="...">
    </div>
  </div>
  <div class="col-lg-3"></div>
</div>


<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <ul class="nav nav-pills nav-stacked">
    <li role="presentation"><a href="/home/labreviewmain">전체보기</a></li>
      <%@testcenter.each do |x|%>
      <li role="presentation"><a href="/home/labreview/<%=x.id%>"><%=x.name%></a></li>
      <%end%>
      
    </ul>    
  </div>
  
  <div class="col-md-6">
    <div>전체보기</div>
    <div class="panel panel-default">
        <!-- Table -->
        <table class="table table-striped table-condensed">
            <col style="width:10%">
            <col style="width:20%">
            <col style="width:40%">
            <col style="width:10%">
            <col style="width:10%">
            <col style="width:10%">
          <thead>
            <tr>
              <th style="text-align:center">번호</th>
              <th style="text-align:center">고사장</th>
              <th style="text-align:center">제목</th>
              <th style="text-align:center">작성자</th>
              <th style="text-align:center">조회수</th>
              <th style="text-align:center">추천수</th>
            </tr>
          </thead>
          <tbody>
            <tr data-toggle="modal" data-target="#a">
                <td style="text-align:center">3</td>
                <td style="text-align:center">한양대(4.5점)</td>
                <td style="text-align:center">시설 최고!</td>
                <td style="text-align:center">김새봄</td>
                <td style="text-align:center">100</td>
                <td style="text-align:center">12</td>
            </tr>
            <div class="modal fade" id="a" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">한양대학교 후기</h4><a>평점,조회수,추천수,작성시간 등등 </a>
                  </div>
                  <div class="modal-body">
                    내용+각 부문별 별점(감독관, 시설, 위치 등등)
                    <form action="" method="POST" class="form-inline">
                      <input type="text" class="form-control" style="width:90%" placeholder="댓글달기">
                    <input type="submit" value="댓글달기">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
            <tr data-toggle="modal" data-target="#a">
                <td style="text-align:center">2</td>
                <td style="text-align:center">국민대(3.7점)</td>
                <td style="text-align:center">위치 최고!</td>
                <td style="text-align:center">송영현</td>
                <td style="text-align:center">43</td>
                <td style="text-align:center">3</td>
            </tr>
            <tr data-toggle="modal" data-target="#a">
                <td style="text-align:center">1</td>
                <td style="text-align:center">숭실대(3.1점)</td>
                <td style="text-align:center">좀 구린듯</td>
                <td style="text-align:center">강병욱</td>
                <td style="text-align:center">53</td>
                <td style="text-align:center">5</td>
            </tr>
          </tbody>
        </table>
      </div>
      
  </div>
  
</div>