<div style="width: 60%; height: 200px; margin-top: 200px; margin-left:auto; margin-right:auto">
    <h4>시험목록</h4>
    <!-- Table -->
    <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>시험일</th>
        <th>시험장</th>
        <th>점수</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
    </table>
</div>