<script>
  function abc() {
    document.getElementById('abc').innerHTML = '<div>abc</div>';
  };
</script>

<button id='qwer' onclick="abc()">button</button>

<div id="abc">
  <a href='#'>
    <div>
      abc
    </div>
  </a>
</div>