html, body {
    height: 100%;
    width: 100%;
    background-color: white;
}
// 별점 디자인 가져오기
// 참고 블로그 : http://rog.ie/blog/css-star-rater
// 가져온 주소 : http://codepen.io/rogie/pen/GIfqc
// CSS (LESS) 에서 반드시 View Compiled 할 것!
// LESS는 SCSS(SASS)와 마찬가지로 구조적으로 CSS 코드를 짤 수 있도록 도와줌
// 가져올 css 에서 Global 한 요소들은 안 가져오기 (body, * 등)

.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 250px;
  height: 50px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}
.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}
.star-rating i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}
// 별점 디자인 가져오기 끝

.small {
	width: 125px;
	height: 25px;
}

.smaller {
  width: 100px;
  height: 20px;
}

.smallest {
  width: 75px;
  height: 15px;
}

.on {
	opacity: 1 !important;
}


.nav_icon {
  width: 50px;
  height: 60px;
}

.convert {
  padding-top: 10px;
}

.convert.active {
  box-shadow: inset 0px 0px 10px #8C8C8C;
}

.convert2 {
  padding-top: 10px;
}

.convert2.active {
  box-shadow: inset 0px 0px 10px #8C8C8C;
}

.convert3 {
  padding-top: 10px;
}

.conver3.active {
  box-shadow: inset 0px 0px 10px #8C8C8C;
}
  
// 고사장 리뷰 nav-bar 

.map_drawer {
  left: 60px;
  width: 200px;
  height: 100%;
  background-color: #232323;
  position: fixed;
  z-index: 100;
  display: none;
  color: white;
  opacity: 0.9;
  text-align: center;
  p {
    cursor: pointer;
    margin-bottom: 0px;
  }
}

.review_drawer {
  left: 60px;
  width: 200px;
  height: 100%;
  background-color: #232323;
  position: fixed;
  z-index: 100;
  display: none;
  color: white;
  opacity: 0.9;
  text-align: center;
  p {
    cursor: pointer;
    margin-bottom: 0px;
  }
}
  
td {
  border-collapse: collapse;
  padding: 10px;
}

.td_bottom {
  border-bottom: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}

#list_deco a{
  color: #4C4C4C;
}

.help {
  background-color: black;
  width: 200px;
  height: 60px;
  position: fixed;
  display: none;
  z-index: 10;
  cursor: pointer;
  opacity: 0.9;
  color: white;
}

.help_table {
  display: table;
  height: 100%;
}

.help_table_cell {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.login_alert {
  position: fixed;
  background-color: black;
  opacity: 0.9;
  color: white;
  width: 250px;
  height: 80px;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  display: none;
  .table_div {
    display: table;
    height: 100%;
    width: 100%;
  }
  .table_cell {
    display: table-cell;
    vertical-align: middle;
  }
}
