<!DOCTYPE html>
<html lang="en">
<html>
<head>
  <title>TOmap</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand"><span style="color:red"><b>TOmap</b></span></a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li style="padding-left: 150px; padding-right:80px">
              <a href="/">시험장지도</a>
            </li>
            <li style="padding-right:80px">
              <a href="/">시험장후기</a>
            </li>
            <li>
              <a href="/">시험후기</a>
            </li>
          </ul>
               
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/users/sign_in">로그인</a></li>
          </ul>

        </div>
      </div>
    </div>

    <div style="margin-top: 80px">
      <%= yield %>
    </div>
</body>
</html>
